{% extends 'base.html' %}
{% load static %}
{% block title %}Início{% endblock %}
{% block content %}

<style>
  .text-laranja {
    color: #f97316; /* Tailwind laranja-500 */
  }
  .btn-laranja {
    background-color: #f97316;
    color: white;
    border: none;
  }
  .btn-laranja:hover {
    background-color: #ea580c;
  }
  .border-laranja {
    border-color: #f97316 !important;
  }

  .hero-section {
    background-image: url("{% static 'aulas/hero.png' %}");
    background-size: cover;
    background-position: center;
    height: 70vh;
  }
</style>

<!-- Hero Section -->
<section class="text-white text-center d-flex align-items-center justify-content-center hero-section">
  <div class="bg-dark bg-opacity-75 p-4 rounded">
    <h1 class="display-4">LUDWIG</h1>
    <p class="lead">Arte, educação e uma trajetória musical completa</p>
  </div>
</section>


{% endblock %}
