{% extends 'base.html' %}
{% block title %}Sobre{% endblock %}
{% block content %}

<h2 class="text-center mb-5">Quem é Ludwig?</h2>

<!-- Capítulo 1 -->
<div class="row align-items-center mb-5">
  <div class="col-md-6">
    <img src="/media/sobre/lud-sam.jpeg" class="img-fluid rounded shadow" alt="Capítulo 1">
  </div>
  <div class="col-md-6">
    <h3 class="text-warning">Capítulo 1: Influências</h3>
    <p>Desde criança a música me encantava. Nem me lembro quando foi meu primeiro contato com a música, mas sei que foi praticamente de berço. Esse, ao meu lado, é meu primo. Desde muito novo escutava ele estudando o violino, ou o violão. Éramos vizinhos quando mais novos. Foi com ele que eu aprendi, talvez, a coisa mais importante sobre a música, sobre as artes no geral, e algo que eu levaria para a vida toda: se você quer alguma coisa bem feita, você PRECISA se dedicar. Algumas coisas podem até vir de forma facilitada na sua vida, mas sem esforço, disciplina, tudo se vai. Até hoje, mesmo depois de tantos anos e de contato com tantos instrumentistas, ainda não conheci alguém com tamanha qualidade artística. É uma grande referência pra mim até os dias de hoje.</p>
  </div>
</div>

<!-- Capítulo 2 -->
<div class="row align-items-center mb-5 flex-md-row-reverse">
  <div class="col-md-6">
    <img src="/media/sobre/lud-ufu.jpeg" class="img-fluid rounded shadow" alt="Capítulo 2">
  </div>
  <div class="col-md-6">
    <h3 class="text-warning">Capítulo 2: Formação e Descobertas</h3>
    <p>Já trabalhando na área, ingressei na faculdade de música pela Universidade Federal de Uberlândia, onde tive contato com diversas pessoas do meio musical/artístico que também desempenharam um papel fundamental na minha formação pessoal e profissional. Na faculdade comecei a estudar os grandes teóricos da educação, o que me fez ter mais certeza de que estava no caminho certo, que havia encontrado meu propósito para a vida. Ali eu pude realmente focar no meu desenvolvimento como violinista e como educador. Meu professor de violino, Professor Mábio Duarte me ajudou a encontrar e a trabalhar meus pontos fracos, me deu ferramentas que uso até os dias de hoje tanto pra mim, quanto pra ajudar meus próprios alunos a encontrar a qualidade e perícia musical que podem alcançar.</p>
  </div>
</div>

<!-- Capítulo 3 -->
<div class="row align-items-center mb-5">
  <div class="col-md-6">
    <img src="/media/sobre/lud-violino-evento.jpeg" class="img-fluid rounded shadow" alt="Capítulo 3">
  </div>
  <div class="col-md-6">
    <h3 class="text-warning">Capítulo 3: Ludwig, Violinista</h3>
    <p>Trajetória como violinista.</p>
  </div>
</div>

<!-- Capítulo 4 -->
<div class="row align-items-center mb-5 flex-md-row-reverse">
  <div class="col-md-6">
    <img src="/media/sobre/lud-projeto-ant-1.jpeg" class="img-fluid rounded shadow" alt="Capítulo 2">
  </div>
  <div class="col-md-6">
    <h3 class="text-warning">Capítulo 4: Projetos Sociais</h3>
    <p>Trajetória com projetos sociais</p>
  </div>
</div>


<!-- Capítulo 5 -->
<div class="row align-items-center mb-5">
  <div class="col-md-6">
    <img src="/media/sobre/lud-regendo.jpeg" class="img-fluid rounded shadow" alt="Capítulo 3">
  </div>
  <div class="col-md-6">
    <h3 class="text-warning">Capítulo 5: Professor na Pandemia</h3>
    <p>História da escola e os desafios de crescer na pandemia.</p>
  </div>
</div>


<!-- Capítulo 6 -->
<div class="row align-items-center mb-5 flex-md-row-reverse">
  <div class="col-md-6">
    <img src="/media/sobre/lud-projeto-bb.jpeg" class="img-fluid rounded shadow" alt="Capítulo 2">
  </div>
  <div class="col-md-6">
    <h3 class="text-warning">Capítulo 4: Legado</h3>
    <p>Falar como sobre ter uma filha mudou minha vida e a importancia de passar pra frente o que se sabe.</p>
  </div>
</div>

{% endblock %}
